/* General */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: Mulish, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #011c36;
}

header {
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #dbe64c;
}

main {
    display: block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

.footerLine {
    width: 100%;
    height: 10px;
    background-color: #74c365;
}

footer {
    padding: 2%;
    background-color: #dbe64c;
}

section {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    width: clamp(300px, 60%, 70ch);
    line-height: 1.5rem;
}

h2 {
    line-height: 1rem;
    margin-top: 35px;
}

/* Main navigation */
nav {
    margin-left: auto;
    margin-right: 2%;
}

.mainNav {
    display: flex;
    list-style-type: none;
}

.mainNav > li {
    padding: 50px 20px 50px 20px;
}

.mainNav > li > a {
    color: #001F3F;
    font-weight: 600;
    text-decoration: none;
}

.mainNav > li > a:active {
    color:#dbe64c
}

.mainNav > li:hover {
    background-color: #74c365;
}

.subNav {
    position: absolute;
    margin-top: 50px;
    margin-left: -20px;
    padding-inline-start: 0px;
    list-style-type: none;
    background-color: #74c365;
    visibility: hidden;
}

.subNav > li {
    padding: 10px 20px 10px 20px;
}

.subNav > li:hover {
    background-color: #dbe64c;
}

.subNav > li > a {
    color: #001F3F;
    font-weight: 600;
    text-decoration: none;
}

.subNav > li > a:active {
    color:#74c365;
}

.homePage:hover .subNav {
    visibility: visible;
}

/* Main navigation for mobile */
.menuButton {
    background-color: #dbe64c;
    border: none;
}

.bars {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px;
    background-color: #001F3F;
    color: #001F3F;
}

.cross1 {
    transform: rotate(40deg);
}

.cross2 {
    transform: rotate(-40deg);
    margin-top: -10px;
}

#openMenu {
    display: none; /* Ändras*/
    margin-left: auto;
    margin-right: 5%;
}

#closeMenu {
    display: none; /* Ändras*/
}

/* Photos-page */
#galleryContainer {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: repeat(10, 100px);
    max-width: 1200px;
}

#pic1 {
    grid-area: 2/1/6/2;
}

#pic2 {
    grid-area: 2/2/6/3;
}

#pic3 {
    grid-area: 2/3/6/4;
}

#pic4 {
    grid-area: 6/1/10/2;
}

#pic5 {
    grid-area: 6/2/10/3;
}

/* Screens under 1200px */
@media only screen and (max-width: 1200) {
    /* Photo-page */
    #galleryContainer { grid-template-columns: 50% 50%; grid-template-rows: repeat(15, 100px); max-width: 90%; margin-left: auto; margin-right: auto; }
    #pic1 { grid-area: 2/1/6/2; }
    #pic2 { grid-area: 2/2/6/3; }
    #pic3 { grid-area: 6/1/10/2; }
    #pic4 { grid-area: 6/2/10/3; }
    #pic5 { grid-area: 10/1/14/2; }
}

/* Screens under 800px */
@media only screen and (max-width: 800) {
    /* Main menu */
    #openMenu { display: block; } /* Ändras */
    #navContainer { display: none; z-index: 3; margin-right: 0px; } 
    #closeMenu { display: flex; margin-top: 370px; margin-bottom: 0px; } 
    .mainNav { display: block; padding-bottom: 30px; padding-right: 50px; background-color: #dbe64c;}
    .mainNav > li { padding: 20px 20px 20px 10px; }
    .mainNav > li:nth-child(2) { margin-top: 100px; }
    .subNav { visibility: visible; background-color: #dbe64c; margin-top: 15px; margin-left: -0px;}
    .subNav > li { padding: 15px 15px 15px 15px; }
    .subNav > li::before { content: "►";}

        /* Photo-page */
        #galleryContainer { grid-template-columns: 100%; grid-template-rows: repeat(23, 100px); max-width: 90%; margin-left: auto; margin-right: auto; }
        #pic1 { grid-area: 2/1/6/2; }
        #pic2 { grid-area: 6/1/10/1; }
        #pic3 { grid-area: 10/1/14/2; }
        #pic4 { grid-area: 14/1/18/2; }
        #pic5 { grid-area: 18/1/22/2; }
}